* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
    color: unset;
}

:root {
    --primary-color: #F5F5F5;
    --text-color: #000000;
    --white-color: #fff;
    --star-color: #FED712;
    --button-color: #4200FF;
    --color-box-shadow:  rgb(0 0 0 / 10%);
}

.new-product__search-button:hover,
.category-product.active:hover {
    background-color: var(--button-color);
    filter: brightness(92%);
}

.products__vote-price {
    margin: 0 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__vote-star-icon {
    color: var(--star-color);
    font-size: 13px;
}

.products__vote-star-icon:hover {
    text-decoration: none;
}

.products-price {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    color: var(--button-color);
    font-family: 'Roboto';
}

