@media (max-width: 575px) {
    .header {
        height: 60px;
    }

    .new-product-description {
        padding: 10px 20px;
    }

    .navbar_service-list,
    .new-product__action-list {
        display: none;
    }

    .logo-uz {
        font-size: 39px;
    }
    
    .logo-car {
        font-size: 30px;
    }

    .main {
        margin-top: 60px;
    }

    .new-product-fist {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .new-product__search {
        width: 100%;
    }

    .new-product-img {
        display: block;
        max-width: 80%;
        padding: 10px auto;
    }

    .new-product-shadow {
        height: 20px;
        margin-bottom: 30px;
    }
    
    .offer .container-fix {
        padding: 0;
    }

    .col-fix {
        padding-bottom: 10px;
    }

    .offer__product-img-wrap {
        width: 45%;
    }

    .offer__product-img {
        max-height: 100%;
        width: 100%;
    }

    .classify-products .container-fix {
        padding: 0;
    }

    .row-fix {
        margin: 0 -5px;
    }

    .col-fix {
        padding: 0 5px;
    }

    .category-list__img {
        margin: 8px;
    }

    .category-list__name {
        font-weight: 500;
        font-size: 18px;
    }

    .category-list__icon-right {
        font-size: 1.1rem;
        margin-right: 10px;
    }

    .products-item {
        margin-bottom: 10px;
    }

    .products-name {
        margin: 10px;
        font-size: 17px;
        line-height: 20px;
    }

    .products__vote-price {
        margin: 0 10px 10px;
    }
    
    .products__vote-star-icon {
        font-size: 12px;
    }

    .products-price {
        font-weight: 450;
        font-size: 18px;
    }
}

@media (min-width: 576px) {
    .header {
        min-height: 60px;
    }

    .fix-padding .col:first-child {
        padding-left: 0;
    }

    .fix-padding .col:last-child {
        padding-right: 0;
    }

    .header-mobile-menu {
        margin-right: 60px;
    }

    .col-sm-fix {
        padding-right: 0;
    }

    .navbar_service-list {
        justify-content: end;
    }

    .navbar_service-list li {
        margin-left: 40px;
        margin-right: 0px;
    }

    .navbar_service-list li:last-child {
        display: none;
    }

    .main {
        margin-top: 60px;
    }

    .new-product-description {
        padding: 10px 15px;
    }

    .new-product__search {
        width: 100%;
    }

    .new-product-img-wrap {
        padding-bottom: 20px;
    }

    .new-product-img {
        display: block;
        max-width: 75%;
        margin-top: 15px;
        padding: 10px auto;
    }

    .new-product-shadow {
        height: 20px;
        margin-bottom: 25px;
    }

    .offer .container-fix {
        padding: 0;
    }

    .col-fix {
        padding-bottom: 10px;
    }

    .classify-products {
        margin-top: 30px;
    }

    .classify-products .container-fix {
        padding: 0;
    }

    .classify-products .row-fix {
        margin: 0 -10px;
    }

    .classify-products .col-fix {
        padding: 0 10px;
    }

    .category-list__icon-right {
        margin-right: 15px;
    }
}

@media (min-width: 768px) {
    
    .navbar_service-list li:last-child {
        display: block;
    }
    
    .logo__text-warp {
        flex: unset;
    }

    .menu-user-nav {
        display: none;
    }

    .show-menu__container {
        width: 60vw;
    }

    .show-menu span {
        width: 40vw;
    }

    .new-product__search {
        width: 80%;
    }

    .new-product-img {
        max-width: 70%;
    }

    .offer .container-fix {
        padding: 0 15px;
    }
    
    .col-fix {
        padding:0 0 15px;
    }
}

@media (min-width: 992px) {
    .header-mobile-menu {
        display: none;
    }

    .header {
        padding: 10px 0;
    }

    .new-product__action-list {
        display: flex;
    }

    .navbar_service-list a {
        font-size: 20px;
        line-height: 18px;
    }

    .col-sm-fix {
        padding-right: 15px;
    }

    .show-menu,
    .open {
        display: none;
    }

    .main {
        margin-top: 74px;
    }

    .new-product-description {
        padding: 10px 0 30px 20px;
    }

    .new-product-fist {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        text-align: left;
        line-height: 55px;
    }

    .new-product-img-wrap {
        height: 100%;
        padding-bottom: 30px;
    }

    .new-product-img {
        max-width: 100%;
        margin: 50px 15px 0 0;
    }

    .offer__product-img-wrap {
        width: 45%;
    }

    .offer .container-fix {
        padding: 0;
    }
    
    .row-fix {
        margin: 0 -5px;
    }

    .col-fix {
        padding: 0 5px;
    }
    
    .offer__product-img {
        width: 100%;
    }

}

@media (min-width: 1200px) {
    .header {
        min-height: 90px;
        padding: 0;
    }
    
    .container-fix {
        max-width: 1280px;
        padding: 0;
        margin: auto;
    }

    
    .row-fix {
        margin: 0 -10px;
    }

    .col-fix {
        padding: 0 10px;
    }

    .navbar_service-list {
        justify-content: start;
    }

    .navbar_service-list a {
        font-size: 22px;
    }

    .fix-padding .col:first-child {
        padding-left: 15px;
    }

    .fix-padding .col:last-child {
        padding-right: 15px;
    }

    .main {
        margin-top: 90px;
    }

    .new-product-description {
        height: 100%;
        padding-left: 60px;
        padding-top: 20%;
    }

    .new-product-fist {
        margin-bottom: 5px;
        text-align: left;
    }

    .new-product-img {
        max-width: 80%;
    }   
    
    .offer__product-img-wrap {
        width: 160px;
    }

    .category-list__icon-right {
        margin-right: 30px;
    }
}   


    
    