@media (max-width: 575px) {
    .header {
        height: 60px;
    }

    .new-product-description {
        padding: 10px 20px;
    }

    .navbar_service-list,
    .new-product__action-list {
        display: none;
    }

    .logo-uz {
        font-size: 39px;
    }
    
    .logo-car {
        font-size: 30px;
    }

    .main {
        margin-top: 60px;
    }

    .new-product-fist {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .new-product__search {
        width: 100%;
    }

    .new-product-img {
        display: block;
        max-width: 80%;
        padding: 10px auto;
    }

    .new-product-shadow {
        height: 20px;
        margin-bottom: 30px;
    }
}

@media (min-width: 576px) {
    .header {
        min-height: 60px;
    }

    .fix-padding .col:first-child {
        padding-left: 0;
    }

    .fix-padding .col:last-child {
        padding-right: 0;
    }

    .header-mobile-menu {
        margin-right: 60px;
    }

    .col-sm-8-fix {
        padding-right: 0;
    }

    .navbar_service-list {
        justify-content: end;
    }

    .navbar_service-list li {
        margin-left: 40px;
        margin-right: 0px;
    }

    .navbar_service-list li:last-child {
        display: none;
    }

    .main {
        margin-top: 60px;
    }

    .new-product-description {
        padding: 10px 15px;
    }

    .new-product__search {
        width: 100%;
    }

    .new-product-img-wrap {
        padding-bottom: 20px;
    }

    .new-product-img {
        display: block;
        max-width: 75%;
        margin-top: 15px;
        padding: 10px auto;
    }

    .new-product-shadow {
        height: 20px;
        margin-bottom: 25px;
    }

}

@media (min-width: 768px) {
    
    .navbar_service-list li:last-child {
        display: block;
    }
    
    .logo__text-warp {
        flex: unset;
    }

    .menu-user-nav {
        display: none;
    }

    .show-menu__container {
        width: 60vw;
    }

    .show-menu span {
        width: 40vw;
    }

    .new-product__search {
        width: 80%;
    }

    .new-product-img {
        max-width: 70%;
    }
}

@media (min-width: 992px) {
    .header-mobile-menu {
        display: none;
    }

    .header {
        padding: 10px 0;
    }

    .new-product__action-list {
        display: flex;
    }

    .navbar_service-list a {
        font-size: 20px;
        line-height: 18px;
    }

    .col-sm-8-fix {
        padding-right: 15px;
    }

    .show-menu,
    .open {
        display: none;
    }

    .main {
        margin-top: 74px;
    }

    .new-product-description {
        padding: 10px 0 30px 20px;
    }

    .new-product-fist {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        text-align: left;
        line-height: 55px;
    }

    .new-product-img-wrap {
        height: 100%;
        padding-bottom: 30px;
    }

    .new-product-img {
        max-width: 100%;
        margin: 50px 15px 0 0;
    }

    
}

@media (min-width: 1200px) {
    .container-xl {
        max-width: 1280px;
        padding: 0;
    }

    .header {
        min-height: 90px;
        padding: 0;
    }

    .container-header {
        padding: 18px 0;
    }

    .row-fix {
        margin-left: -10px;
        margin-right: -10px;
    }

    .col-fix {
        padding-right: 10px;
        padding-left: 10px;
    }

    .navbar_service-list {
        justify-content: start;
    }

    .navbar_service-list a {
        font-size: 22px;
    }

    .fix-padding .col:first-child {
        padding-left: 15px;
    }

    .fix-padding .col:last-child {
        padding-right: 15px;
    }

    .main {
        margin-top: 90px;
    }

    .new-product-description {
        height: 100%;
        padding-left: 60px;
        padding-top: 20%;
    }

    .new-product-fist {
        margin-bottom: 5px;
        text-align: left;
    }

    .new-product-img {
        max-width: 80%;
    }    
}   


    
    